
.container{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 20%;
}
.child_1{
    font-family: 'Courier New', Courier, monospace;
}
.child_2{
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
}
.child_2 .heading{
    margin-bottom: 0% ;
    padding-bottom: 0%;
}
.child_2 .desc{
    margin-top: 0% ;
    padding-top: 0%;
}



.navbar {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
  
.navbar .nav-link {
    padding-right: 20px;
    color: #5F5bff;
    text-decoration: none;
    align-items: start;
}
  
 .navbar .nav-link:hover {
    text-decoration: underline;
}
  
.navbar .nav-link.active {
    text-decoration: underline;
    color: #5F5bff;
}






.materials-assignment-header {
    display: flex;
    align-items: center;
    border-radius: 5px;
  }
  
.arrow {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
  
.materials-assignment-heading{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 0px;
}
.item-class  {
    list-style: none;
    width: 100%;
    padding: 20px;
    margin: 5px;
    margin-left: 0px;
    border-radius: 5px;
    border: 3px solid #eeeeee;    
    color: #0f6cbf;
    font-size: 0.75rem;
}
.item-class:hover{
    text-decoration: underline;
    color: #008196;

}
.item-parent {
    margin: 0px;
    padding: 0px;
    padding-right: 10%;
}






.student-list-parent {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    padding-right: 10%;
}

.student-list-item  {
    display: flex;
    align-items: center;
    border-radius: 5px;
    list-style: none;
    width: 100%;
    padding: 15px;
    margin-left: 0px;
    border-top: 1px solid #eeeeee;    
    color: #0f6cbf;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.student-image{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
}
.student-list-item:hover{
    text-decoration: underline;
    color: #008196;
    background-color: #eeeeee ;
}