.courses-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px;
   

}

@media only screen and (max-device-width: 425px) {
    .courses-container{
        display:grid;
        grid-template-columns: 1fr;
    }
}